.mid{
    display: flex;
    justify-content: space-evenly;
}
.search{
    width: 30%;
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;

}

span{
    margin-left: 25%;
}

button{
    width: 50%;
    margin: 2vh auto;
    padding: 5px;
    /* margin-top: 2vh; */
}

.result{
    width: 65%;
    height: 100%;
    /* border: solid 1vh; */
}

