.search{
    width: 30%;
    height: 10%;
    margin: auto;
}

form{
    display: flex;
    flex-direction: column;

}

input{
    width: 50%;
    margin: 5px auto;
}

button{
    width: 30%;
    margin: 2px auto;
    padding: 5px;
}

.result{
    width: 70%;
    height: 80%;
    margin: auto;
}
